* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    color: darkcyan;
}

#logo span {
    border-radius: 50%;
    background-color: darkcyan;
    color: white;
}

#navbar li {
    display: inline-block;
    list-style-type: none;
}

#navbar li a {
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    color: darkcyan;
}

#navbar li a:hover {
    color: white;
    background-color: darkcyan;
    border: 1px solid darkcyan;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);/*something i dont know but implemented*/
}

#main {
    display: flex;
    padding-top: 100px;
    max-width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

#main h1 {
    font-size: 40px;
    color: red;
}

#body-pt1 {
    padding-top: 100px;
}

#body-pt1 button {
    background-color: rgb(241, 136, 136);
    padding: 10px 10px;
    border: 1px solid  rgb(241, 136, 136);
}

#body-pt1 button a {
    text-decoration: none;
    color: white;
}

#body-pt1 button:hover {
    border: 2px solid rgb(241, 136, 136);
    background-color: white;
}

#body-pt1 button a:hover {
    color: #f18888;
}

#body-pt2 img {
    float: right;
    max-width: 500px;
    min-height: 500;
    border: 20px solid rgb(243, 110, 110);
}

  /* center the blockquote in the page */
.quote-wrapper {
    display: flex;
    padding: 0 20px;
}

/* Blockquote main style */
.quote {
    justify-content: space-between;
    font-weight: 800;
    color: #1a0202;
    padding: 30px 0;
    max-width: 500px;
    margin: 150px auto;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* Blockquote header */
.quote h1 {
    position: relative;
    color: #1f0505;
    font-size: 40px;
    font-weight: 800;
}

.quote h4 {
    float: right;
    color: #e78ca8;
    font-size: 20px;
    font-weight: normal;
    padding-top: 20px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 95%;
    margin: 0 auto;
    background: linear-gradient(white, #f18888);
}

#project-wrapper {
    text-align: center;
    margin: 50px;
    background-color: #615f5f; /*this color or this #3b3b3b*/
    width: 250px;
    height: 230px;
    border-radius: 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#project-wrapper a {
    text-decoration: none;
}

#project-wrapper:hover {
    background-color: #4d4c4c;
}

#project img {
    border-radius: 2%;
    display: block;
    margin: 22px auto 15px ;
    max-width: 60%;
}

#project h3 {
    color: #d0d3cc;
}

#footer {
    padding-top: 200px;
    height: 300px;
    text-align: center;
    background-color: #f18888;
    max-width: 95%;
    margin: auto;
    color: #615f5f;
}

#footer span {
    border-radius: 50%;
    background-color: #615f5f;
    color: #f18888;
}

#font-icons {
    margin-bottom: 10px;
}

#font-icons a{
    color: #615f5f;
}

/*pratcicing media queries. to be deleted later*/

@media only screen and (max-width: 600px){
    #header {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
    #navbar li {
        display: block;
        margin: 25px auto;
    }
} 